$mtp-gold: #edb733;
$mtp-navy-blue: #2c4d90;
$mtp-white: #fefaf1;
$mtp-black: #0c1120;
$mtp-light: #ffffff;
$mtp-light1: #f8f8fc;
$mtp-gray1: #333333;
$mtp-gray2: #4f4f4f;
$mtp-gray3: #828282;
$mtp-gray4: #bab6ad;
$mtp-light-gold: #fbf1d6;
$mtp-navy: #020b58;
